table, tr, td {
    border: 1px solid;
    border-collapse: collapse;
}

td {
    width: 50px;
    height: 50px;    
    text-align: center;
}

.state0 {
    background-color: gainsboro;
}

.state1 {
    background-color: blue;
    color: white;
}

.state2 {
    background-color: white;
}