// variables
$primary-color: rgb(255, 128, 0);
$secondary-color: #00FF00;
$primary-text-color: grey;
$secondary-text-color: red;

// mixins
@mixin theme($theme: DarkGray) {
    background: $theme;
    box-shadow: 0 0 10px rgba($theme, .25);
    color: #fff;
    
}


body {
    background-color: $primary-color;
}

h1 {
    // @include theme($theme: DarkRed);
    @include theme();
}

// all my div#news styles in one place

div#news {
    text-align: center;

    p {
        background-color: $secondary-color;
        color: $secondary-text-color;

        span {
            text-decoration: underline;
        }
    }
}