@import "colours";

// mixins
@import "mixins";


body {
    background-color: $primary-color;
}

h1 {
    // @include theme($theme: DarkRed);
    @include theme;
}

// all my div#news styles in one place

div#news {
    text-align: center;

    p {
        background-color: $secondary-color;
        color: $secondary-text-color;

        span {
            text-decoration: underline;
        }
    }
}